.important {
  text-align: center;
  font-style: italic;
  color: blue;
}

h1 {
  text-align: center;
  font-size: 35;

}
.list {
  font-weight: bold;
  /*float: left;*/
  font-size: 100;
}
.column {
    float: left;
    width:30%;
    padding: 1%;
    height:auto;
}


.row {
  overflow:auto;
}

img {
  width: 400px;
  height: 400px;

}

ul {
  list-style-type: none;
}
.center  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.attention {
text-align: center;
  color: red;
}
